.main{
      width: 18%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: rgb(240,245,243);
    border: 2px solid rgb(184, 184, 184);
    border-radius: 10px;
}
.image{
    height: 40%;
    width: 30%;
    background-color: rgb(222,239,255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.tags{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid black; */
}
.tag{
    font-size: medium;
}
.value{
    margin-left: 10%;
    font-size: xx-large;
}